body {
  background-color: #141d26 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  font-family: 'Fredoka One', cursive;
  color: rgba(217,217,217,1.00);
}

.max-screen {
  height: 100vh !important;
  overflow: hidden;
}

.no-scroll-bar::-webkit-scrollbar {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.modal-container {
  width: 500px;
}

.black {
  background-color: #141d26 !important;
}

.gray {
  background-color: #3E3E3E;
}

.whats-happening {
  font-size: 54px !important;
}

.login-form {
  width: 400px;
}

.login-btn {
  height: 50px !important;
}